<h1 align="center">Temperature Monitor</h1>
<hr>
<div class="row">
  <div class="col-sm-6 col-sm-offset-2">
    <form  (ngSubmit)="onSubmit()" #f="ngForm">
      <div class="row">
        <div class="col-sm-4">
          <label for="temperature">Add Temperature</label>
        </div>
        <div class="col-sm-4"> 
          <input type="number" 
                 name="temperature" 
                 id="temperature" 
                 class="form-control"
                 ngModel
                 number
                 required
                 placeholder="Add a valid number .."
                 [disabled]="isFull"
                 #temp="ngModel"
                 >     
        </div>
        <div class="col-sm-2">
          <button type="submit" 
                  name="temp-button" 
                  class="btn btn-success"
                  [disabled]="!f.valid || isFull">Add Temperature</button>
        </div> 
 
      </div>               
    </form>
  </div>
</div> 
<hr>
<div class="row">
      <div class="col-sm-6 col-sm-offset-2">
        <div class="row">
          <div class="col-sm-4">
            <label for="pb">Progress : {{progress}}% full</label>
          </div>
          <div class="col-sm-4">            
          <progress-bar class="progress-striped" 
                        id="pb"
                       [value]="progress" [max]="100"
                       [title]="getProgress()"></progress-bar>
          </div>
        </div>
      </div>
</div>  
<hr>
<div class="row">
      <div class="col-sm-6 col-sm-offset-2">
        <div class="row">
          <div class="col-sm-4">
            <label for="myCollection" style="margin-top: 5px;">Your Collection </label>
          </div>
          <div class="col-sm-4">
                  <p> [ {{getTemperatures()}} ]</p>
          </div>
          <div class="col-sm-2">
                <button type="button" 
                    name="clear-button" 
                    class="btn btn-basic"
                    (click)="clear()"
                    [disabled]="progress===0">Clear Temperatures</button>
              </div>
        </div>
      </div>
      
</div> 
<hr>
<div class="row">
      <div class="col-sm-6 col-sm-offset-2">
        <div class="row">
          <div class="col-sm-4">
          </div>
          <div class="col-sm-4">
            <p *ngIf="isCompute"> Current Median: {{currMedian}}</p>
          </div>
          <div class="col-sm-4">
            <button type="button" 
                    (click)="onCompute()"
                    [disabled]="temperatures.length==0"
                    class="btn btn-info">Median Temperature</button>
          </div>
        </div>
      </div>
</div> 